.card {
    height: 400px;
    width: 600px;
    background-color: rgb(98, 121, 132);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}